@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.first-header {
  height: 52px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #000;
  color: #adffa2;
}

.free-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.free-container i {
  padding-right: 10px;
  font-size: 30px;
}

.free-container .time {
  margin-left: 20px;
  font-size: 30px;
  letter-spacing: 5px;
}

.shipping {
  display: flex;
  flex-direction: column;
}


.second-header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  background-color: red;
  width: 100%;
  color: #fff;
}

.second-header .div1 {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.div1 .logo {
  font-size: 15px;
  display: flex;
  
}

.logo h2 {
  padding-left: 10px;
}

.div1 input {
  height: 30px;
  width: 40%;
  border-radius: 8px;
  border: 3px solid #fff;
}

.second-header nav {
  width: 50%;
}

.second-header .list1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
}

.list1 .user {
  font-size: 24px;
}

.list1 li{
  list-style: none;
  font-size: 20px;
}

.list1 li a {
  text-decoration: none;
  color: #fff;
}

.list1 li .display {
  display: flex;
}

.therd-header {
  border: 1px solid black;
  height: 41px;
}

